# ========================
# Node
# ========================
node_modules/
backend/node_modules/

# ========================
# Env (IMPORTANTE)
# ========================
backend/src/.env
backend/src/.env.*
!backend/src/.env.example

# ========================
# Build
# ========================
dist/
build/

# ========================
# Vite
# ========================
.vite/

# ========================
# IDE
# ========================
.vscode/
.idea/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

