@tailwind base;
@tailwind components;
@tailwind utilities;

/* ajustes simples */
body {
  @apply bg-bglight text-dark;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* pequeño estilo para la notificación */
.toast {
  @apply fixed bottom-5 right-5 bg-primary text-white px-4 py-2 rounded shadow;
}

/* Chrome, Safari, Edge */
#cats-scroll::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

/* Firefox */
#cats-scroll {
  scrollbar-width: none !important;
}

/* IE/Edge Legacy */
#cats-scroll {
  -ms-overflow-style: none !important;
}

/* Esto elimina CUALQUIER rastro visual del scroll */
#cats-scroll {
  overflow-y: hidden !important;
}
